:root{
    --white: rgb(255, 255, 255);
    --grey: rgb(100, 100, 100);
    --purple: rgb(69, 5, 112);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'baset';
    src: url('../fonts/Baseticatrial.woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'baset' ;
    src: url('../fonts/Baseticatrial-Bold.woff2');
    font-weight: bold;
    font-style: normal;
}
h1{
    font-size: 1.5em;
    color: var(--purple);
    margin: 10px auto;
}
a{
    text-decoration: none;
    color: var(--purple);
}
a:hover{
    text-decoration: none;
    color: rgb(145, 1, 61);
}
.login-footer{
    font-size: 0.8em;
    text-align: center;
    margin: 10px auto;
}
.error{
    max-width: 400px;
    background: rgb(252, 189, 189);
    color: rgb(230, 1, 1);
    font-weight: bold;
    padding: 15px;
}
.success{
    max-width: 400px;
    background: rgb(200, 247, 212);
    color: rgb(1, 243, 102);
    font-weight: bold;
    padding: 15px;
}
body{
    background-image: linear-gradient(320deg,  rgb(89, 69, 141) 10%, rgb(97, 72, 136) 90% );
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: baset, 'Courier New', Courier, monospace;
    font-size: 1em;
}
/*Login Page Styles*/
.login{
    max-width: 400px;
    background-color: var(--white);
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    font-size: 1em;
    box-shadow: -10px 10px 2px rgba(75, 75, 75, 0.418);
    color: var(--grey);
}
.reg-cont{
    background: rgb(197, 195, 195);
    max-width: 80%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10% auto;
}

.reg-cont h1{
    font-size: 1.5em;
    color: var(--purple);
}
.reg-cont p{
    font-size: 0.8em;
    color: var(--grey);
}
.register{
    flex: 1 1 auto;
    max-width: 400px;
    background-color: var(--white);
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    font-size: 1em;
    box-shadow: -10px 10px 2px rgba(75, 75, 75, 0.418);
    color: var(--grey);
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    border: 1.5px solid var(--grey);
    border-radius: 5px;
    margin: 10px auto;
    height: 50px;
    background: var(--white);
    padding: 5px 10px;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    outline: 2px solid var(--purple);
    border-radius: 5px;
}
input[type="submit"]{
    width: 100%;
    padding: 5px 10px;
    margin: 10px auto;
    height: 50px;
    text-align: center;
    background: var(--purple);
    color: var(--white);
    border-radius: 5px;
    border: none;
    transition: 1s;
    cursor: pointer;
}
input[type="submit"]:hover{
    background: transparent;
    border: 2px solid var(--purple);
    color: var(--purple);
    border-radius: 5px;
}
label{
    font-size: 0.7em;
}
/**** Dashboard Styles ***/

@media (max-width: 500px) {
    .login{
        max-width: 100%;
        margin: 30% 20px;
    }
    .reg-cont{
        max-width: 90%;
    }
}